
  
  .single-chart {
    width: 30%;
    justify-content: space-around;
    margin-left: 250px;
    margin-top: 10%;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 90%;
    max-height: 180px;
 
  
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  

  .circular-chart.orange{
      width: 200%;
      margin-left: 17%;
      margin-top: 10%;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }